# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/mutuals-frontend/node_modules

# next.js
/mutuals-frontend/.next/
/mutuals-frontend/out/

# production
/mutuals-frontend/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Environments 
.env 
.venv

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media